@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 36px;
  font-size: 26px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

input, button, textarea, a {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button, .header__burger {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 300;
}

/*--------------------*/
body, a {
  font-family: "SegoeWPN", sans-serif;
  color: #858383;
  font-size: 15px;
}

.row__item div {
  background-color: white;
  border-radius: 100%;
  width: 138px;
  height: 138px;
  align-items: center;
}

.wrapper, .sites, .menu, .row, .row__item, .places__offer, .places a, .row__item div, .header .container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  /*padding-left: 3%;
  padding-right: 3%;*/
  /*align-items: center;*/
}

.row {
  justify-content: center;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row__item {
  margin: 0 35px;
  width: 132px;
  flex-direction: column;
}
.row__item:hover {
  color: steelblue;
}

.places__offer {
  border-bottom: #51C03D 7px solid;
}

.wrapper, .menu {
  justify-content: space-evenly;
  position: relative;
}

.wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  opacity: 0.7;
  background: #fff;
}
.wrapper.active {
  opacity: 1;
}

.menu {
  z-index: 2;
}

.menu__item {
  line-height: 26px;
  padding: 4px;
  border-radius: 8%;
}

.menu__item:hover {
  background: #37b2f8;
  background: -webkit-gradient(top, bottom, color-stop(0%, #37b2f8), color-stop(100%, #1784d1));
  background: linear-gradient(180deg, #37b2f8 0%, #1784d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#37B2F8", endColorstr="#1784D1", GradientType=1 );
  padding: 4px;
}
.menu__item:hover a {
  color: #F1F8FE;
}

.header {
  background-image: url("../img/Untitled-1.jpg");
}

* {
  text-align: center;
}

#btn:hover {
  border: 4px solid rgba(76, 114, 135, 0.6);
}

.sites__offer {
  margin-top: 2%;
  margin-bottom: 66px;
}

h2 {
  font-size: 26.35px;
}

h3 {
  font-size: 22.35px;
}

.header .container, .row__item div {
  justify-content: center;
}
.header .container:hover, .row__item div:hover {
  opacity: 0.9;
}

.sites {
  background-color: #ECECEC;
}
.sites.active {
  padding-top: 200px;
}

.sites__title {
  margin-bottom: 30px;
}

.places {
  background-color: white;
  top: 36%;
  position: absolute;
  max-width: 478px;
  display: none;
}
.places.active {
  display: block;
}
.places a {
  flex-direction: column;
  margin: 6.4px;
}

.footer {
  background: #414141;
  font-size: 14, 35px;
}
.footer a:hover {
  color: antiquewhite;
}

.header__offer {
  padding-top: 15.8%;
  height: 534px;
}

#btn {
  font-weight: 700;
  background: #6feb55;
  background: -webkit-gradient(top, bottom, color-stop(0%, #6feb55), color-stop(100%, #35af23));
  background: linear-gradient(180deg, #6feb55 0%, #35af23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#6FEB55", endColorstr="#35AF23", GradientType=1 );
  box-shadow: 0 0 5px #EDEDED;
  font-size: 34.35px;
  padding: 11px;
}

.header__title {
  font-weight: 600;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 6.25%;
}

.logo img {
  margin: 4px;
}

.s-light {
  font-weight: 200;
}

.header__title {
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 0 0 2px #EDEDED;
  font-size: 52.35px;
  padding-bottom: 3.3%;
}

.title_s-light {
  line-height: 40px;
  font-size: 48.35px;
}

.s-light {
  font-weight: 200;
}

.header__title, #btn {
  color: #fff;
}

.logo {
  z-index: 9;
}

.places__offer {
  flex-wrap: wrap;
}

/* 768px - 1200px */
@media screen and (max-width: 1200px) {
  .sites__offer {
    margin-bottom: 36px;
  }

  .places {
    top: 409px;
  }

  .sites.active {
    padding-top: 174px;
  }

  .row__item {
    width: 114px;
  }
  .row__item img {
    width: 73px;
  }
  .row__item div {
    width: 114px;
    height: 114px;
  }

  .sites__title h2, .row__item {
    margin: 0 27px;
  }
}
/* 711px - 768px */
@media screen and (max-width: 768px) {
  .places a {
    width: 16%;
  }

  .places {
    width: 434px;
  }

  .sites.active {
    padding-top: 15%;
  }

  .header__offer {
    padding-top: 4.8%;
    height: 415px;
  }

  .row__item {
    margin: 2% 16px;
    align-items: center;
  }

  .header__title {
    margin-top: 29px;
    font-size: 34.35px;
  }

  .title_s-light {
    font-size: 33.35px;
  }

  #btn {
    padding: 6px;
    font-size: 26px;
  }

  .places {
    top: 283px;
  }
}
@media screen and (max-width: 711px) {
  .header__offer {
    height: 313px;
  }

  .header__title {
    line-height: 31px;
    margin-top: 36px;
    font-size: 22.35px;
  }

  .title_s-light {
    font-size: 22.35px;
  }

  .places {
    width: 359px;
    top: 413px;
  }
  .places a {
    margin: -2.6px;
    flex: 0 1 20%;
    align-items: center;
  }
  .places h3 {
    line-height: 28px;
    margin-bottom: 5px;
  }

  .row__item div {
    width: 66px;
    height: 66px;
  }

  .row__item img {
    width: 41px;
  }

  .places {
    padding-top: 5px;
    top: 226px;
  }

  .sites.active {
    padding-top: 15%;
  }

  img {
    width: 65%;
  }

  .row__item {
    line-height: 19px;
  }
}
@media screen and (max-width: 657px) {
  h2 {
    font-size: 21.35px;
  }

  h3 {
    font-size: 20.35px;
  }

  /*запрет скролла при открытом меню*/
  body.lock {
    overflow: hidden;
  }

  .header__offer {
    padding: 23px 0 0 0;
  }

  .header__burger {
    top: 9px;
    right: 21px;
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 20px;
  }

  .header__burger span {
    position: absolute;
    background-color: #858383;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    position: absolute;
    content: "";
    background-color: #858383;
    width: 100%;
    left: 0;
    height: 2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  nav.active {
    background: #fff;
    opacity: 0.8;
    transform: translateY(0);
    top: 0;
  }
  nav.active .menu {
    display: block;
  }

  nav {
    overflow: auto;
    /*скролл*/
    transition: all 0.3s ease 0s;
    position: fixed;
    top: -100%;
    /*transform: translateY(-100%);*/
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 10px 20px 10px;
  }

  menu {
    display: block;
  }

  menu li {
    margin: 0 0 20px 0;
  }

  .row__item {
    flex: 1 1 25%;
  }
}
@media screen and (max-width: 537px) {
  .sites.active {
    padding-top: 21%;
  }
}
@media screen and (max-width: 493px) {
  .header__offer {
    height: 293px;
  }

  .header__title {
    line-height: 36px;
  }

  .title_s-light {
    line-height: 1em;
  }

  #btn {
    font-size: 23px;
  }

  h3 {
    font-size: 18.35px;
  }
}
@media screen and (max-width: 471px) {
  body, html {
    line-height: 2em;
  }
}
@media screen and (max-width: 415px) {
  .header__offer {
    height: 210px;
    padding-top: 0.8%;
  }

  .sites.active {
    padding-top: 62%;
  }

  .places.active {
    top: 210px;
  }
  .places.active a {
    flex: 0 1 25%;
  }

  .places__offer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 395px) {
  .row__item {
    margin: 2% 12px;
  }

  .header__title {
    font-size: 18.35px;
  }
  .header__title .title_s-light {
    font-size: 18.35px;
  }

  .header__title {
    line-height: 1.6em;
  }
}
@media screen and (max-width: 361px) {
  .row__item {
    margin: 2% 2px;
  }

  .sites.active {
    padding-top: 67%;
  }
}
@media screen and (max-width: 359px) {
  .header__offer {
    height: 194px;
  }

  .places a {
    flex: 0 1 25%;
  }

  .sites.active {
    padding-top: 77%;
  }
}
@media screen and (max-width: 353px) {
  img {
    width: 58%;
  }
}
/*# sourceMappingURL=style.css.map */